<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">kafka-client-metrics</h4>
          </div>
          <div class="card-content table-responsive">
            <table class="table">
              <thead class="text-danger text-center">
                <th>Metric Name</th>
                <th>Value</th>
                <th>Group Name</th>
                <th>Description</th>
              </thead>
              <tbody>
                <tr *ngFor="let metric of metrics">
                  <td>{{metric.name}}</td>
                  <td>{{metric.value}}</td>
                  <td>{{metric.groupName}}</td>
                  <td>{{metric.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


