<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Please add at least one Kafak host below
  </h1>
  <img width="50" src="/assets/img/kafka_logo.svg">
</div>



<h4 align="center">FE app is developed with Angular, references:</h4>
<ul>
  <li>
    <p><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></p>
  </li>
  <li>
    <p><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></p>
  </li>
  <li>
    <p><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></p>
  </li>
  <li>
    <p><a target="_blank" rel="noopener" href="http://md-angular2.creative-tim.com/dashboard">Uses Creative Tim's free dasboard elements</a></p>
  </li>

</ul>

