<div class="wrapper">
  <div class="sidebar" data-color='red' data-image="">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>







<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Please add at least one Kafak host below
  </h2>
  <img width="50" src="/assets/img/kafka_logo.svg">
</div>



<h4 align="center">FE app is developed with Angular, some references:</h4>
<ul>
  <li>
    <p><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></p>
  </li>
  <li>
    <p><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></p>
  </li>
  <li>
    <p><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></p>
  </li>
  <li>
    <p><a target="_blank" rel="noopener" href="http://md-angular2.creative-tim.com/dashboard">This app uses Creative Tim's free dasboard</a></p>
  </li>

</ul>

