<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">Kafka JMX Connection. i.e - jmxHost:jmxPort,jmxHost2:jmxPort2 ...</h4>
          </div>
          <div class="card-content">
              <form>
                <div class="row">
                  <div class="col-md-6 col-md-offset-2">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Kafka JMX Servers</label>
                      <input class="form-control" #hosts>
                    </div>
                  </div>
                  <div class="col-md-1 col-md-offset-1">
                    <button class="btn btn-primary btn-sm btn-round pull-right" (click)="submit()">
                      Connect
                      <i class="material-icons">arrow_forward</i>
                    </button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="colum-md-12">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">Kafka Connections</h4>
          </div>
          <div class="card-content">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
