<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">Kafka JMX Connection. i.e - jmxHost:jmxPort</h4>
          </div>
          <div class="card-content">
            <form>
              <div class="row">
                <div class="col-md-6 col-md-offset-2">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Kafka JMX Server</label>
                    <input class="form-control" #hosts>
                  </div>
                </div>
                <div class="col-md-1 col-md-offset-1">
                  <button class="btn btn-primary btn-sm btn-round pull-right" (click)="connect(hosts)">
                    Connect
                    <i class="material-icons">arrow_forward</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="row" *ngIf="brokerService.getBrokers()">
      <div class="col-lg-6 col-md-12 col-sm-12" *ngFor="let broker of brokerService.getBrokers()">
        <div class="card card-stats">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">Kafka Broker {{broker.id}}</h4>
          </div>
          <div class="card-content">
            <h4>Kafka version:
              <small>{{broker.kafkaVersion}}</small>
            </h4>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover table-striped">
              <thead class="text-danger">
              <tr>
                <th>Metric</th>
                <th class="text-right">Mean</th>
                <th class="text-right">1 Min</th>
                <th class="text-right">5 Min</th>
                <th class="text-right">15 Min</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let topicMetric of broker.topicMetricList">
                <td align="left">{{ topicUtilsService.getAttributeTypeText(topicMetric.topicMetricAttributeType) }}</td>
                <td>{{ topicMetric.attributes.MeanRate | number:'1.0-0'}}</td>
                <td>{{ topicMetric.attributes.OneMinuteRate | number: '1.0-0'}}</td>
                <td>{{ topicMetric.attributes.FiveMinuteRate | number: '1.0-0'}}</td>
                <td>{{ topicMetric.attributes.FifteenMinuteRate | number: '1.0-0'}}</td>
              </tr>
              </tbody>
            </table>
            <br>
            <h4 class="text-center">Operational System</h4>
            <div class="row" align="left">
              <div class="col-md-6">
                OS: {{broker.os.attributes.Name + ' ' + broker.os.attributes.Arch}}
              </div>
              <div class="col-md-6">
                Available Processors: {{broker.os.attributes.AvailableProcessors}}
              </div>
            </div>
            <br>
            <div class="row" align="left">
              <div class="col-md-6">
                Process CPU Load: {{broker.os.attributes.ProcessCpuLoad | number}}
              </div>
              <div class="col-md-6">
                System CPU Load: {{broker.os.attributes.SystemCpuLoad | number}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
