<footer>
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#">
            Home
          </a>
        </li>
        <li>
          <a href="#">
            Company
          </a>
        </li>
        <li>
          <a href="#">
            Portfolio
          </a>
        </li>
        <li>
          <a href="#">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy; {{test | date: 'yyyy'}} <a href="http://github.com/mmaia/kafka-simple-demo">k-nav on github</a>
    </p>

    <br><br>

    <div align="center">
      <h6 align="center">FE app is developed with Angular, some references:</h6>
      <ul>
        <li>
          <p><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></p>
        </li>
        <li>
          <p><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
          </p>
        </li>
        <li>
          <p><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></p>
        </li>
        <li>
          <p><a target="_blank" rel="noopener" href="http://md-angular2.creative-tim.com/dashboard">This app uses
            Creative
            Tim's free dasboard</a></p>
        </li>
      </ul>
    </div>

  </div>
</footer>
